body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(211, 211, 211);
}

th {
  font-size: 1.8em;
  line-height: 1.1;
  color: solid black;
}

td  {
  font-size: 1.3em;
  color: solid black;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
}
 